<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/main}" >
<div layout:fragment="mainContainer">
        <main class="content _js-bvi-filter">
            
<article class="mb-5 &lt;md:mb-0">
    <div class="embla relative" x-data="embla({
        fade: true,
        plugins: {autoplay: {delay: 50000}},
        options: {loop:true, skipSnaps:false}
      })">
        <div class="embla__viewport overflow-hidden w-full embla__fade" x-ref="viewport">
            <div class="embla__container relative flex select-none po " style="transform: translate3d(-7168px, 0px, 0px);">
                                                <div class="embla__slide opacity-0 inset-0 min-w-full pb-[27.7%] &lt;md:pb-[59.90338%] &lt;md:min-h-[248px]" :class="{&#39;active&#39;: active == 0}" style="opacity: 0; z-index: 0;">
                    <div class=" overflow-hidden embla__slide__inner">
                        <div class="absolute inset-0 z-[-1] hide-gradient" data-vibrant="" style="background-image: linear-gradient(135deg, rgb(184, 192, 48) 0%, rgb(84, 164, 60) 100%);">
                            
<div class="lazy absolute inset-0 bg-center bg-cover _js-bvi-img loaded" data-background-image="https://halykbank.kz/storage/app/media/Slider/10/5b_1980%D1%85577.png" data-background-image-sm="https://halykbank.kz/storage/app/media/Slider/10/5b_1000%D1%85600.png" data-background-image-gradient="https://halykbank.kz/storage/app/uploads/public/72a/dd6/20b/thumb__30_0_0_0_auto.png" data-loaded="true" style="background-image: url(&quot;https://halykbank.kz/storage/app/media/Slider/10/5b_1980%D1%85577.png&quot;);"></div>                                                    </div>
                        <div class="absolute inset-0 container">
                            <div class="flex flex-col justify-between h-full py-12 &lt;md:py-5 &lt;md:justify-start">
                                                                                                                                <div></div>
                                                                                                <a href="https://halykbank.kz/5-bonus" class="hidden">
                                                                        Подробнее
                                    </a>
                                                                <div class="text-white ">
                                    <h1 class="text-3xl font-bold mb-2 &lt;md:mb-4 &lt;md:text-2xl &lt;md:font-medium">
                                        Платите<br>
по-новому!</h1>
                                                                    </div>
                                                                <div class="relative">
                                    <a href="https://halykbank.kz/5-bonus" class="btn btn-yellow" btn-yellow="" style="position: absolute;bottom: 100%;">
                                        Подробнее                                    </a>
                                </div>
                                                            </div>
                        </div>
                    </div>
                </div>
                                                                                                <div class="embla__slide opacity-0 inset-0 min-w-full pb-[27.7%] &lt;md:pb-[59.90338%] &lt;md:min-h-[248px]" :class="{&#39;active&#39;: active == 1}" style="opacity: 0; z-index: 0;">
                    <div class=" overflow-hidden embla__slide__inner">
                        <div class="absolute inset-0 z-[-1] hide-gradient" data-vibrant="" style="background-image: linear-gradient(135deg, rgb(198, 198, 124) 0%, rgb(116, 168, 100) 100%);">
                            
<div class="lazy absolute inset-0 bg-center bg-cover _js-bvi-img loaded" data-background-image="https://halykbank.kz/storage/app/media/Slider/10/easy_1980%D1%85577.png" data-background-image-sm="https://halykbank.kz/storage/app/media/Slider/10/easy_1000%D1%85600.png" data-background-image-gradient="https://halykbank.kz/storage/app/uploads/public/93c/420/212/thumb__30_0_0_0_auto.png" data-loaded="true" style="background-image: url(&quot;https://halykbank.kz/storage/app/media/Slider/10/easy_1980%D1%85577.png&quot;);"></div>                                                    </div>
                        <div class="absolute inset-0 container">
                            <div class="flex flex-col justify-between h-full py-12 &lt;md:py-5 &lt;md:justify-start">
                                                                                                                                <div></div>
                                                                                                <a href="https://halykbank.kz/card/easy-digital" class="hidden">
                                                                        Подробнее
                                    </a>
                                                                <div class="text-white ">
                                    <h1 class="text-3xl font-bold mb-2 &lt;md:mb-4 &lt;md:text-2xl &lt;md:font-medium">
                                        Карта Halyk Easy</h1>
                                                                    </div>
                                                                <div class="relative">
                                    <a href="https://halykbank.kz/card/easy-digital" class="btn btn-yellow" btn-yellow="" style="position: absolute;bottom: 100%;">
                                        Подробнее                                    </a>
                                </div>
                                                            </div>
                        </div>
                    </div>
                </div>
                                                                <div class="embla__slide opacity-0 inset-0 min-w-full pb-[27.7%] &lt;md:pb-[59.90338%] &lt;md:min-h-[248px]" :class="{&#39;active&#39;: active == 2}" style="opacity: 0; z-index: 0;">
                    <div class=" overflow-hidden embla__slide__inner">
                        <div class="absolute inset-0 z-[-1] hide-gradient" data-vibrant="" style="background-image: linear-gradient(135deg, rgb(100, 185, 122) 0%, rgb(156, 188, 121) 100%);">
                            
<div class="lazy absolute inset-0 bg-center bg-cover _js-bvi-img loaded" data-background-image="https://halykbank.kz/storage/app/media/Slider/11/zoloto_1980x577.jpg" data-background-image-sm="https://halykbank.kz/storage/app/media/Slider/11/zoloto1000x600-1.jpg" data-background-image-gradient="https://halykbank.kz/storage/app/uploads/public/de3/297/332/thumb__30_0_0_0_auto.jpg" data-loaded="true" style="background-image: url(&quot;https://halykbank.kz/storage/app/media/Slider/11/zoloto_1980x577.jpg&quot;);"></div>                                                    </div>
                        <div class="absolute inset-0 container">
                            <div class="flex flex-col justify-between h-full py-12 &lt;md:py-5 &lt;md:justify-start">
                                                                                                                                <div></div>
                                                                                                <a href="https://halykbank.kz/other/zoloto" class="hidden">
                                                                        Подробнее
                                    </a>
                                                                <div class="text-black ">
                                    <h1 class="text-3xl font-bold mb-2 &lt;md:mb-4 &lt;md:text-2xl &lt;md:font-medium">
                                        Инвестируйте<br>
в золото</h1>
                                                                    </div>
                                                                <div class="relative">
                                    <a href="https://halykbank.kz/other/zoloto" class="btn btn-yellow" btn-yellow="" style="position: absolute;bottom: 100%;">
                                        Подробнее                                    </a>
                                </div>
                                                            </div>
                        </div>
                    </div>
                </div>
                                                                <div class="embla__slide opacity-0 inset-0 min-w-full pb-[27.7%] &lt;md:pb-[59.90338%] &lt;md:min-h-[248px]" :class="{&#39;active&#39;: active == 3}" style="opacity: 0; z-index: 0;">
                    <div class=" overflow-hidden embla__slide__inner">
                        <div class="absolute inset-0 z-[-1] hide-gradient" data-vibrant="" style="background-image: linear-gradient(135deg, rgb(57, 148, 98) 0%, rgb(124, 164, 148) 100%);">
                            
<div class="lazy absolute inset-0 bg-center bg-cover _js-bvi-img loaded" data-background-image="https://halykbank.kz/storage/app/media/Slider/10/scat_1980x577_2.png" data-background-image-sm="https://halykbank.kz/storage/app/media/Slider/10/scat_1000x600_2.png" data-background-image-gradient="https://halykbank.kz/storage/app/uploads/public/b78/d03/e5b/thumb__30_0_0_0_auto.png" data-loaded="true" style="background-image: url(&quot;https://halykbank.kz/storage/app/media/Slider/10/scat_1980x577_2.png&quot;);"></div>                                                    </div>
                        <div class="absolute inset-0 container">
                            <div class="flex flex-col justify-between h-full py-12 &lt;md:py-5 &lt;md:justify-start">
                                                                                                                                <div></div>
                                                                                                <a href="https://halykbank.kz/promo/165" class="hidden">
                                                                        Подробнее
                                    </a>
                                                                <div class="text-white ">
                                    <h1 class="text-3xl font-bold mb-2 &lt;md:mb-4 &lt;md:text-2xl &lt;md:font-medium">
                                        Скидка до 25%<br>
на авиабилеты SCAT</h1>
                                                                    </div>
                                                                <div class="relative">
                                    <a href="https://halykbank.kz/promo/165" class="btn btn-yellow" btn-yellow="" style="position: absolute;bottom: 100%;">
                                        Подробнее                                    </a>
                                </div>
                                                            </div>
                        </div>
                    </div>
                </div>
                                                                <div class="embla__slide opacity-0 inset-0 min-w-full pb-[27.7%] &lt;md:pb-[59.90338%] &lt;md:min-h-[248px] active" :class="{&#39;active&#39;: active == 4}" style="opacity: 1; z-index: 10;">
                    <div class=" overflow-hidden embla__slide__inner">
                        <div class="absolute inset-0 z-[-1] hide-gradient" data-vibrant="">
                            
<div class="lazy absolute inset-0 bg-center bg-cover _js-bvi-img loaded" data-background-image="https://halykbank.kz/storage/app/media/Slider/10/iphone_1980_577.png" data-background-image-sm="https://halykbank.kz/storage/app/media/Slider/10/1000kh600-5.png" data-background-image-gradient="https://halykbank.kz/storage/app/uploads/public/96b/0ea/69f/thumb__30_0_0_0_auto.png" data-loaded="true" style="background-image: url(&quot;https://halykbank.kz/storage/app/media/Slider/10/iphone_1980_577.png&quot;);"></div>                                                    </div>
                        <div class="absolute inset-0 container">
                            <div class="flex flex-col justify-between h-full py-12 &lt;md:py-5 &lt;md:justify-start">
                                                                                                                                <div></div>
                                                                                                <a href="https://halykbank.kz/iphone-14" class="hidden">
                                                                        Участвовать
                                    </a>
                                                                <div class="text-white ">
                                    <h1 class="text-3xl font-bold mb-2 &lt;md:mb-4 &lt;md:text-2xl &lt;md:font-medium">
                                        Розыгрыш<br>
iPhone 14<br>
каждую неделю</h1>
                                                                    </div>
                                                                <div class="relative">
                                    <a href="https://halykbank.kz/iphone-14" class="btn btn-yellow" btn-yellow="" style="position: absolute;bottom: 100%;">
                                        Участвовать                                    </a>
                                </div>
                                                            </div>
                        </div>
                    </div>
                </div>
                                                                                                                                <div class="embla__slide opacity-0 inset-0 min-w-full pb-[27.7%] &lt;md:pb-[59.90338%] &lt;md:min-h-[248px]" :class="{&#39;active&#39;: active == 5}" style="opacity: 0; z-index: 0;">
                    <div class=" overflow-hidden embla__slide__inner">
                        <div class="absolute inset-0 z-[-1] hide-gradient" data-vibrant="" style="background-image: linear-gradient(135deg, rgb(182, 174, 156) 0%, rgb(20, 212, 156) 100%);">
                            
<div class="lazy absolute inset-0 bg-center bg-cover _js-bvi-img loaded" data-background-image="https://halykbank.kz/storage/app/media/Slider/damas1980kh577-3.png" data-background-image-sm="https://halykbank.kz/storage/app/media/Slider/damas1000kh600-6.png" data-background-image-gradient="https://halykbank.kz/storage/app/uploads/public/618/772/ada/thumb__30_0_0_0_auto.png" data-loaded="true" style="background-image: url(&quot;https://halykbank.kz/storage/app/media/Slider/damas1980kh577-3.png&quot;);"></div>                                                    </div>
                        <div class="absolute inset-0 container">
                            <div class="flex flex-col justify-between h-full py-12 &lt;md:py-5 &lt;md:justify-start">
                                                                                                                                <div></div>
                                                                                                <a href="https://halykbank.kz/business/payment/rozygrysh-auto" class="hidden">
                                                                        Подробнее
                                    </a>
                                                                <div class="text-white ">
                                    <h1 class="text-3xl font-bold mb-2 &lt;md:mb-4 &lt;md:text-2xl &lt;md:font-medium">
                                        Авто для бизнеса<br>
каждый месяц</h1>
                                                                    </div>
                                                                <div class="relative">
                                    <a href="https://halykbank.kz/business/payment/rozygrysh-auto" class="btn btn-yellow" btn-yellow="" style="position: absolute;bottom: 100%;">
                                        Подробнее                                    </a>
                                </div>
                                                            </div>
                        </div>
                    </div>
                </div>
                                                                <div class="embla__slide opacity-0 inset-0 min-w-full pb-[27.7%] &lt;md:pb-[59.90338%] &lt;md:min-h-[248px]" :class="{&#39;active&#39;: active == 6}" style="opacity: 0; z-index: 0;">
                    <div class=" overflow-hidden embla__slide__inner">
                        <div class="absolute inset-0 z-[-1] hide-gradient" data-vibrant="" style="background-image: linear-gradient(135deg, rgb(185, 148, 150) 0%, rgb(196, 172, 196) 100%);">
                            
<div class="lazy absolute inset-0 bg-center bg-cover _js-bvi-img loaded" data-background-image="https://halykbank.kz/storage/app/media/Halyk%20Market/11/Web_%D0%A1%D0%BB%D0%B0%D0%B9%D0%B4%D0%B5%D1%80%20%D0%92%D0%B5%D0%B1%D0%BA%D0%B0_HB.png" data-background-image-sm="https://halykbank.kz/storage/app/media/Halyk%20Market/11/RUS_%D0%A1%D0%BB%D0%B0%D0%B9%D0%B4%D0%B5%D1%80%20%D0%9C%D0%BE%D0%B1%D0%B8%D0%BB%D0%BA%D0%B0_2.jpg" data-background-image-gradient="https://halykbank.kz/storage/app/uploads/public/8d8/aff/060/thumb__30_0_0_0_auto.png" data-loaded="true" style="background-image: url(&quot;https://halykbank.kz/storage/app/media/Halyk%20Market/11/Web_%D0%A1%D0%BB%D0%B0%D0%B9%D0%B4%D0%B5%D1%80%20%D0%92%D0%B5%D0%B1%D0%BA%D0%B0_HB.png&quot;);"></div>                                                    </div>
                        <div class="absolute inset-0 container">
                            <div class="flex flex-col justify-between h-full py-12 &lt;md:py-5 &lt;md:justify-start">
                                                                                                                                <div></div>
                                                                                                <a href="https://halykbank.kz/market" class="hidden">
                                                                        Подробнее
                                    </a>
                                                                <div class="text-white ">
                                    <h1 class="text-3xl font-bold mb-2 &lt;md:mb-4 &lt;md:text-2xl &lt;md:font-medium">
                                        Волшебство<br>
в один клик<br>
с Halyk Market</h1>
                                                                    </div>
                                                                <div class="relative">
                                    <a href="https://halykbank.kz/market" class="btn btn-yellow" btn-yellow="" style="position: absolute;bottom: 100%;">
                                        Подробнее                                    </a>
                                </div>
                                                            </div>
                        </div>
                    </div>
                </div>
                                                                                                                                <div class="embla__slide opacity-0 inset-0 min-w-full pb-[27.7%] &lt;md:pb-[59.90338%] &lt;md:min-h-[248px]" :class="{&#39;active&#39;: active == 7}" style="opacity: 0; z-index: 0;">
                    <div class=" overflow-hidden embla__slide__inner">
                        <div class="absolute inset-0 z-[-1] hide-gradient" data-vibrant="" style="background-image: linear-gradient(135deg, rgb(188, 204, 166) 0%, rgb(68, 188, 108) 100%);">
                            
<div class="lazy absolute inset-0 bg-center bg-cover _js-bvi-img loaded" data-background-image="https://halykbank.kz/storage/app/media/Slider/9/sk_1980%D1%85577.jpg" data-background-image-sm="https://halykbank.kz/storage/app/media/Slider/9/sk_1000%D1%85600.jpg" data-background-image-gradient="https://halykbank.kz/storage/app/uploads/public/b73/5b7/4c3/thumb__30_0_0_0_auto.jpg" data-loaded="true" style="background-image: url(&quot;https://halykbank.kz/storage/app/media/Slider/9/sk_1980%D1%85577.jpg&quot;);"></div>                                                    </div>
                        <div class="absolute inset-0 container">
                            <div class="flex flex-col justify-between h-full py-12 &lt;md:py-5 &lt;md:justify-start">
                                                                                                                                <div></div>
                                                                                                <a href="https://sub.polisonline.kz/" class="hidden">
                                                                        Оформите за 1 минуту
                                    </a>
                                                                <div class="text-white ">
                                    <h1 class="text-3xl font-bold mb-2 &lt;md:mb-4 &lt;md:text-2xl &lt;md:font-medium">
                                        Страховка по подписке<br>
по цене пончика!</h1>
                                                                    </div>
                                                                <div class="relative">
                                    <a href="https://sub.polisonline.kz/" class="btn btn-yellow" btn-yellow="" style="position: absolute;bottom: 100%;">
                                        Оформите за 1 минуту                                    </a>
                                </div>
                                                            </div>
                        </div>
                    </div>
                </div>
                                                                                                                                                                                                                                            </div>
        </div>
        <div class="embla__dots absolute z-10 inset-x-0 bottom-4 flex items-center justify-center &lt;md:left-[initial] &lt;md:right-4" x-show="emblaActive">
            <template x-for="(slid, index) in slides"></template><button class="embla__dot focus:outline-none w-2 h-2 bg-gray-100 rounded-full mr-4" :class="{&#39;!bg-secondary&#39;: active == index}" type="button" @click.prevent="embla.scrollTo(index)">
                </button><button class="embla__dot focus:outline-none w-2 h-2 bg-gray-100 rounded-full mr-4" :class="{&#39;!bg-secondary&#39;: active == index}" type="button" @click.prevent="embla.scrollTo(index)">
                </button><button class="embla__dot focus:outline-none w-2 h-2 bg-gray-100 rounded-full mr-4" :class="{&#39;!bg-secondary&#39;: active == index}" type="button" @click.prevent="embla.scrollTo(index)">
                </button><button class="embla__dot focus:outline-none w-2 h-2 bg-gray-100 rounded-full mr-4" :class="{&#39;!bg-secondary&#39;: active == index}" type="button" @click.prevent="embla.scrollTo(index)">
                </button><button class="embla__dot focus:outline-none w-2 h-2 bg-gray-100 rounded-full mr-4 !bg-secondary" :class="{&#39;!bg-secondary&#39;: active == index}" type="button" @click.prevent="embla.scrollTo(index)">
                </button><button class="embla__dot focus:outline-none w-2 h-2 bg-gray-100 rounded-full mr-4" :class="{&#39;!bg-secondary&#39;: active == index}" type="button" @click.prevent="embla.scrollTo(index)">
                </button><button class="embla__dot focus:outline-none w-2 h-2 bg-gray-100 rounded-full mr-4" :class="{&#39;!bg-secondary&#39;: active == index}" type="button" @click.prevent="embla.scrollTo(index)">
                </button><button class="embla__dot focus:outline-none w-2 h-2 bg-gray-100 rounded-full mr-4" :class="{&#39;!bg-secondary&#39;: active == index}" type="button" @click.prevent="embla.scrollTo(index)">
                </button>
        </div>
        <div class="absolute z-10 inset-x-0 top-1/2 h-0 mx-6 transform -translate-y-1/2 flex items-center justify-between &lt;md:hidden" x-show="emblaActive">
        <button class="embla-btn" @click.prevent="embla.scrollPrev" type="button"><i class="icon icon-chevron-left"></i></button>
        <button class="embla-btn" @click.prevent="embla.scrollNext" type="button"><i class="icon icon-chevron-right"></i></button>
      </div>
    </div>
</article><section class="section-py-5" x-data="exchangeRatesMini({
    filters: [&#39;USD&#39;, &#39;EUR&#39;, &#39;RUB&#39;],
    url: &#39;/api/gradation-ccy&#39;
  })">
  <div class="container">
    <div class="flex items-center justify-between">
      <div class="flex items-center">
        <div class="w-6 h-6 mr-6 text-primary text-[24px] &lt;md:mr-2">
          <i class="icon icon-circle-tenge"></i>
        </div>
        <div class="flex items-center">
          <template x-for="(item, index) in ratesList"></template><div class="flex items-center mr-10 last:mr-0 &lt;md:mr-0" :class="{&#39;&lt;md:hidden&#39;: index &gt;= 1}">
              <div class="text-gray-400 mr-4" x-text="item.name">USD</div>
              <div class="flex items-center">
                <div class="" x-text="item.rates.buy_rate_1">458.5</div>
                <div class="mx-0.5"> / </div>
                <div class="" x-text="item.rates.sell_rate_1">465.5</div>
              </div>
            </div><div class="flex items-center mr-10 last:mr-0 &lt;md:mr-0 &lt;md:hidden" :class="{&#39;&lt;md:hidden&#39;: index &gt;= 1}">
              <div class="text-gray-400 mr-4" x-text="item.name">RUB</div>
              <div class="flex items-center">
                <div class="" x-text="item.rates.buy_rate_1">5.83</div>
                <div class="mx-0.5"> / </div>
                <div class="" x-text="item.rates.sell_rate_1">6.67</div>
              </div>
            </div><div class="flex items-center mr-10 last:mr-0 &lt;md:mr-0 &lt;md:hidden" :class="{&#39;&lt;md:hidden&#39;: index &gt;= 1}">
              <div class="text-gray-400 mr-4" x-text="item.name">EUR</div>
              <div class="flex items-center">
                <div class="" x-text="item.rates.buy_rate_1">486.59</div>
                <div class="mx-0.5"> / </div>
                <div class="" x-text="item.rates.sell_rate_1">492.79</div>
              </div>
            </div>
        </div>
      </div>
      <div class="">
        <a href="https://halykbank.kz/exchange-rates" class="flex items-center text-primary whitespace-nowrap">Все курсы валют <span class="ml-1 w-6 h-6 text-[24px]"><i class="icon icon-chevron-right"></i></span></a>
      </div>
    </div>
  </div>
</section><section class="section-py-5">
    <div class="container">
        <div class="mb-8">
            <h3 class="font-bold text-3xl &lt;md:text-2xl &lt;md:font-medium"></h3>
        </div>
        <div class="">
            <div class="embla relative pb-4" x-data="embla({
                options: {align: &#39;start&#39;, loop: true, skipSnaps: false, containScroll: &#39;keepSnaps&#39;}
            })">
                <div class="embla__viewport overflow-hidden w-full mb-8" x-ref="viewport">
                    <div class="embla__container flex select-none -ml-6 &lt;md:-ml-4" style="transform: translate3d(0px, 0px, 0px);">
                                                <div class="embla__slide relative min-w-[25%] w-3/12 pl-6 &lt;md:pl-4 &lt;md:min-w-[70%] &lt;md:w-[70%]">
                            <div class="overflow-hidden relative h-full">
                                <div class="h-full border border-gray-100 bg-gray-50 rounded-xl flex flex-col">
                                    <div class=" overflow-hidden rounded-t-xl relative pb-[59.2%] dddd">
                                        
<div class="lazy absolute inset-0 bg-center bg-cover _js-bvi-img loaded" data-background-image="https://halykbank.kz/storage/app/uploads/public/c19/19c/ab7/thumb__544_0_0_0_auto.png" data-background-image-gradient="https://halykbank.kz/storage/app/uploads/public/d06/0d6/f7b/thumb__30_0_0_0_auto.png" data-loaded="true" style="background-image: url(&quot;https://halykbank.kz/storage/app/uploads/public/c19/19c/ab7/thumb__544_0_0_0_auto.png&quot;);"></div>                                                                            </div>
                                    <div class="p-4 flex-3 flex flex-col justify-between">
                                        <div class="mb-3">
                                            <div class="text-lg font-bold mb-3 h-12 &lt;md:font-medium">Онлайн-кредит до 7 миллионов</div>
                                                                                        <div class="text-sm text-gray-600 content-inner-editer">
                                                <ul>
	<li>Срок до 5 лет</li>
	<li>Скидка 50%</li>
</ul>

                                            </div>
                                                                                    </div>
                                                                                <div>
                                            <a href="https://halykbank.kz/online-credit" class="btn btn-green-light">
                                                                                                Оформить кредит
                                                                                            </a>
                                        </div>
                                                                            </div>
                                </div>
                            </div>
                        </div>
                                                <div class="embla__slide relative min-w-[25%] w-3/12 pl-6 &lt;md:pl-4 &lt;md:min-w-[70%] &lt;md:w-[70%]">
                            <div class="overflow-hidden relative h-full">
                                <div class="h-full border border-gray-100 bg-gray-50 rounded-xl flex flex-col">
                                    <div class=" overflow-hidden rounded-t-xl relative pb-[59.2%] dddd">
                                        
<div class="lazy absolute inset-0 bg-center bg-cover _js-bvi-img loaded" data-background-image="https://halykbank.kz/storage/app/uploads/public/1df/74d/1ee/thumb__544_0_0_0_auto.png" data-background-image-gradient="https://halykbank.kz/storage/app/uploads/public/786/5fb/adf/thumb__30_0_0_0_auto.png" data-loaded="true" style="background-image: url(&quot;https://halykbank.kz/storage/app/uploads/public/1df/74d/1ee/thumb__544_0_0_0_auto.png&quot;);"></div>                                                                            </div>
                                    <div class="p-4 flex-3 flex flex-col justify-between">
                                        <div class="mb-3">
                                            <div class="text-lg font-bold mb-3 h-12 &lt;md:font-medium">Покупки в Halyk Market</div>
                                                                                        <div class="text-sm text-gray-600 content-inner-editer">
                                                <ul>
	<li>Рассрочка до 24 месяцев</li>
	<li>Сумма до 6 000 000 тенге</li>
</ul>

                                            </div>
                                                                                    </div>
                                                                                <div>
                                            <a href="https://halykmarket.kz/?utm_source=slider_web_market_vitrina&amp;utm_medium=slider_web_market_vitrina&amp;utm_campaign=slider_web_market_vitrina&amp;utm_content=slider_web_market_vitrina&amp;utm_term=slider_web_market_vitrina" class="btn btn-green-light">
                                                                                                Подробнее
                                                                                            </a>
                                        </div>
                                                                            </div>
                                </div>
                            </div>
                        </div>
                                                <div class="embla__slide relative min-w-[25%] w-3/12 pl-6 &lt;md:pl-4 &lt;md:min-w-[70%] &lt;md:w-[70%]">
                            <div class="overflow-hidden relative h-full">
                                <div class="h-full border border-gray-100 bg-gray-50 rounded-xl flex flex-col">
                                    <div class=" overflow-hidden rounded-t-xl relative pb-[59.2%] dddd">
                                        
<div class="lazy absolute inset-0 bg-center bg-cover _js-bvi-img loaded" data-background-image="https://halykbank.kz/storage/app/uploads/public/fa7/54e/0e7/thumb__544_0_0_0_auto.jpg" data-background-image-gradient="https://halykbank.kz/storage/app/uploads/public/21f/37c/865/thumb__30_0_0_0_auto.jpg" data-loaded="true" style="background-image: url(&quot;https://halykbank.kz/storage/app/uploads/public/fa7/54e/0e7/thumb__544_0_0_0_auto.jpg&quot;);"></div>                                                                            </div>
                                    <div class="p-4 flex-3 flex flex-col justify-between">
                                        <div class="mb-3">
                                            <div class="text-lg font-bold mb-3 h-12 &lt;md:font-medium">Урегулирование задолженности</div>
                                                                                        <div class="text-sm text-gray-600 content-inner-editer">
                                                <ul>
	<li>Условия и порядок урегулирования проблемной задолженности</li>
</ul>

                                            </div>
                                                                                    </div>
                                                                                <div>
                                            <a href="https://halykbank.kz/credit/uregulirovanie-problemnoj-zadolzhennosti" class="btn btn-green-light">
                                                                                                Подробнее
                                                                                            </a>
                                        </div>
                                                                            </div>
                                </div>
                            </div>
                        </div>
                                                <div class="embla__slide relative min-w-[25%] w-3/12 pl-6 &lt;md:pl-4 &lt;md:min-w-[70%] &lt;md:w-[70%]">
                            <div class="overflow-hidden relative h-full">
                                <div class="h-full border border-gray-100 bg-gray-50 rounded-xl flex flex-col">
                                    <div class=" overflow-hidden rounded-t-xl relative pb-[59.2%] dddd">
                                        
<div class="lazy absolute inset-0 bg-center bg-cover _js-bvi-img loaded" data-background-image="https://halykbank.kz/storage/app/uploads/public/623/86b/d9e/thumb__544_0_0_0_auto.jpg" data-background-image-gradient="https://halykbank.kz/storage/app/uploads/public/7f0/0d0/739/thumb__30_0_0_0_auto.jpg" data-loaded="true" style="background-image: url(&quot;https://halykbank.kz/storage/app/uploads/public/623/86b/d9e/thumb__544_0_0_0_auto.jpg&quot;);"></div>                                                                            </div>
                                    <div class="p-4 flex-3 flex flex-col justify-between">
                                        <div class="mb-3">
                                            <div class="text-lg font-bold mb-3 h-12 &lt;md:font-medium">Осторожно! Мошенники</div>
                                                                                        <div class="text-sm text-gray-600 content-inner-editer">
                                                <ul>
	<li>Не сообщайте личные данные и пароли</li>
	<li>Не устанавливайте сторонние программы</li>
</ul>

                                            </div>
                                                                                    </div>
                                                                                <div>
                                            <a href="https://halykbank.kz/security" class="btn btn-green-light">
                                                                                                Подробнее
                                                                                            </a>
                                        </div>
                                                                            </div>
                                </div>
                            </div>
                        </div>
                                                <div class="embla__slide relative min-w-[25%] w-3/12 pl-6 &lt;md:pl-4 &lt;md:min-w-[70%] &lt;md:w-[70%]">
                            <div class="overflow-hidden relative h-full">
                                <div class="h-full border border-gray-100 bg-gray-50 rounded-xl flex flex-col">
                                    <div class=" overflow-hidden rounded-t-xl relative pb-[59.2%] dddd">
                                        
<div class="lazy absolute inset-0 bg-center bg-cover _js-bvi-img" data-background-image="https://halykbank.kz/storage/app/uploads/public/444/53d/384/thumb__544_0_0_0_auto.png" data-background-image-gradient="https://halykbank.kz/storage/app/uploads/public/1ca/6bd/133/thumb__30_0_0_0_auto.png"></div>                                                                            </div>
                                    <div class="p-4 flex-3 flex flex-col justify-between">
                                        <div class="mb-3">
                                            <div class="text-lg font-bold mb-3 h-12 &lt;md:font-medium">С нами лучше!</div>
                                                                                        <div class="text-sm text-gray-600 content-inner-editer">
                                                <ul>
	<li>Розыгрыш iPhone 14 каждую неделю</li>
	<li>100% бонусов за оплату коммунальных услуг</li>
</ul>

                                            </div>
                                                                                    </div>
                                                                                <div>
                                            <a href="https://halykbank.kz/present-halyk" class="btn btn-green-light">
                                                                                                Подробнее
                                                                                            </a>
                                        </div>
                                                                            </div>
                                </div>
                            </div>
                        </div>
                                                <div class="embla__slide relative min-w-[25%] w-3/12 pl-6 &lt;md:pl-4 &lt;md:min-w-[70%] &lt;md:w-[70%]">
                            <div class="overflow-hidden relative h-full">
                                <div class="h-full border border-gray-100 bg-gray-50 rounded-xl flex flex-col">
                                    <div class=" overflow-hidden rounded-t-xl relative pb-[59.2%] dddd">
                                        
<div class="lazy absolute inset-0 bg-center bg-cover _js-bvi-img" data-background-image="https://halykbank.kz/storage/app/uploads/public/89e/aeb/8b9/thumb__544_0_0_0_auto.jpg" data-background-image-gradient="https://halykbank.kz/storage/app/uploads/public/c46/728/19e/thumb__30_0_0_0_auto.jpg"></div>                                                                            </div>
                                    <div class="p-4 flex-3 flex flex-col justify-between">
                                        <div class="mb-3">
                                            <div class="text-lg font-bold mb-3 h-12 &lt;md:font-medium">100% бонусов за коммунальные платежи</div>
                                                                                        <div class="text-sm text-gray-600 content-inner-editer">
                                                <ul>
	<li>Еженедельный розыгрыш 100% бонусов</li>
	<li>До 31 декабря 2022</li>
</ul>

                                            </div>
                                                                                    </div>
                                                                                <div>
                                            <a href="https://halykbank.kz/other/utilities" class="btn btn-green-light">
                                                                                                Подробнее
                                                                                            </a>
                                        </div>
                                                                            </div>
                                </div>
                            </div>
                        </div>
                                            </div>
                </div>
                <div class="embla__dots flex items-center justify-center" x-show="emblaActive">
                                        <button class="embla__dot focus:outline-none w-2 h-2 bg-gray-100 rounded-full mr-4 !bg-primary" :class="{&#39;!bg-primary&#39;: active == 0}" type="button" @click.prevent="embla.scrollTo(0)">
                    </button>
                                        <button class="embla__dot focus:outline-none w-2 h-2 bg-gray-100 rounded-full mr-4" :class="{&#39;!bg-primary&#39;: active == 1}" type="button" @click.prevent="embla.scrollTo(1)">
                    </button>
                                        <button class="embla__dot focus:outline-none w-2 h-2 bg-gray-100 rounded-full mr-4" :class="{&#39;!bg-primary&#39;: active == 2}" type="button" @click.prevent="embla.scrollTo(2)">
                    </button>
                                        <button class="embla__dot focus:outline-none w-2 h-2 bg-gray-100 rounded-full mr-4" :class="{&#39;!bg-primary&#39;: active == 3}" type="button" @click.prevent="embla.scrollTo(3)">
                    </button>
                                        <button class="embla__dot focus:outline-none w-2 h-2 bg-gray-100 rounded-full mr-4" :class="{&#39;!bg-primary&#39;: active == 4}" type="button" @click.prevent="embla.scrollTo(4)">
                    </button>
                                        <button class="embla__dot focus:outline-none w-2 h-2 bg-gray-100 rounded-full mr-4" :class="{&#39;!bg-primary&#39;: active == 5}" type="button" @click.prevent="embla.scrollTo(5)">
                    </button>
                                    </div>
                                            </div>
        </div>
    </div>
</section><section class="section-py-5">
    <div class="container">
        <div class="mb-8">
            <h3 class="font-bold text-3xl &lt;md:text-2xl &lt;md:font-medium">Предложения от Halyk Market</h3>
        </div>
        <div class="">
            <div class="embla relative pb-4" x-data="embla({
                options: {align: &#39;start&#39;, loop: true, skipSnaps: false, containScroll: &#39;keepSnaps&#39;}
            })">
                <div class="embla__viewport overflow-hidden w-full mb-8" x-ref="viewport">
                    <div class="embla__container flex select-none -ml-6 &lt;md:-ml-4">
                                                <div class="embla__slide relative min-w-[25%] w-3/12 pl-6 &lt;md:pl-4 &lt;md:min-w-[70%] &lt;md:w-[70%]">
                            <div class="overflow-hidden relative h-full">
                                <div class="h-full border border-gray-100 bg-gray-50 rounded-xl flex flex-col">
                                    <div class=" overflow-hidden rounded-t-xl relative pb-[59.2%]">
                                        
<div class="lazy absolute inset-0 bg-center bg-cover _js-bvi-img loaded" data-background-image="https://halykbank.kz/storage/app/uploads/public/c78/42d/8ab/thumb__544_0_0_0_auto.png" data-background-image-gradient="https://halykbank.kz/storage/app/uploads/public/48f/164/8a2/thumb__30_0_0_0_auto.png" data-loaded="true" style="background-image: url(&quot;https://halykbank.kz/storage/app/uploads/public/c78/42d/8ab/thumb__544_0_0_0_auto.png&quot;);"></div>                                                                            </div>
                                    <div class="p-4 flex-3 flex flex-col justify-between">
                                        <div class="mb-3">
                                            <div class="text-sm mb-3 &lt;md:font-medium">Доступный универсальный помощник по дому</div>
                                                                                        <div class="text-lg font-bold content-inner-editer">
                                                

                                            </div>
                                                                                    </div>
                                                                                <div>
                                            <a href="https://halykmarket.kz/category/pilesosi" class="btn btn-green-light">
                                                                                                Купить на Market
                                                                                            </a>
                                        </div>
                                                                            </div>
                                </div>
                            </div>
                        </div>
                                                <div class="embla__slide relative min-w-[25%] w-3/12 pl-6 &lt;md:pl-4 &lt;md:min-w-[70%] &lt;md:w-[70%]">
                            <div class="overflow-hidden relative h-full">
                                <div class="h-full border border-gray-100 bg-gray-50 rounded-xl flex flex-col">
                                    <div class=" overflow-hidden rounded-t-xl relative pb-[59.2%]">
                                        
<div class="lazy absolute inset-0 bg-center bg-cover _js-bvi-img loaded" data-background-image="https://halykbank.kz/storage/app/uploads/public/34d/22c/e5b/thumb__544_0_0_0_auto.png" data-background-image-gradient="https://halykbank.kz/storage/app/uploads/public/8c7/2be/2fe/thumb__30_0_0_0_auto.png" data-loaded="true" style="background-image: url(&quot;https://halykbank.kz/storage/app/uploads/public/34d/22c/e5b/thumb__544_0_0_0_auto.png&quot;);"></div>                                                                            </div>
                                    <div class="p-4 flex-3 flex flex-col justify-between">
                                        <div class="mb-3">
                                            <div class="text-sm mb-3 &lt;md:font-medium">Приобретайте спортивные товары на Halyk Market</div>
                                                                                        <div class="text-lg font-bold content-inner-editer">
                                                

                                            </div>
                                                                                    </div>
                                                                                <div>
                                            <a href="https://halykmarket.kz/promotion/19163" class="btn btn-green-light">
                                                                                                Купить на Market
                                                                                            </a>
                                        </div>
                                                                            </div>
                                </div>
                            </div>
                        </div>
                                                <div class="embla__slide relative min-w-[25%] w-3/12 pl-6 &lt;md:pl-4 &lt;md:min-w-[70%] &lt;md:w-[70%]">
                            <div class="overflow-hidden relative h-full">
                                <div class="h-full border border-gray-100 bg-gray-50 rounded-xl flex flex-col">
                                    <div class=" overflow-hidden rounded-t-xl relative pb-[59.2%]">
                                        
<div class="lazy absolute inset-0 bg-center bg-cover _js-bvi-img loaded" data-background-image="https://halykbank.kz/storage/app/uploads/public/d88/32d/503/thumb__544_0_0_0_auto.png" data-background-image-gradient="https://halykbank.kz/storage/app/uploads/public/71b/8cf/fbb/thumb__30_0_0_0_auto.png" data-loaded="true" style="background-image: url(&quot;https://halykbank.kz/storage/app/uploads/public/d88/32d/503/thumb__544_0_0_0_auto.png&quot;);"></div>                                                                            </div>
                                    <div class="p-4 flex-3 flex flex-col justify-between">
                                        <div class="mb-3">
                                            <div class="text-sm mb-3 &lt;md:font-medium">Станьте обладателем нового iPhone 14. Рассрочка 0-0-24</div>
                                                                                        <div class="text-lg font-bold content-inner-editer">
                                                

                                            </div>
                                                                                    </div>
                                                                                <div>
                                            <a href="https://halykmarket.kz/category/smartfoni?utm_source=webhm&amp;utm_medium=vitrina&amp;utm_campaign=banner&amp;utm_content=ladning%20page" class="btn btn-green-light">
                                                                                                Купить на Market
                                                                                            </a>
                                        </div>
                                                                            </div>
                                </div>
                            </div>
                        </div>
                                                <div class="embla__slide relative min-w-[25%] w-3/12 pl-6 &lt;md:pl-4 &lt;md:min-w-[70%] &lt;md:w-[70%]">
                            <div class="overflow-hidden relative h-full">
                                <div class="h-full border border-gray-100 bg-gray-50 rounded-xl flex flex-col">
                                    <div class=" overflow-hidden rounded-t-xl relative pb-[59.2%]">
                                        
<div class="lazy absolute inset-0 bg-center bg-cover _js-bvi-img loaded" data-background-image="https://halykbank.kz/storage/app/uploads/public/195/589/479/thumb__544_0_0_0_auto.png" data-background-image-gradient="https://halykbank.kz/storage/app/uploads/public/9c6/854/be7/thumb__30_0_0_0_auto.png" data-loaded="true" style="background-image: url(&quot;https://halykbank.kz/storage/app/uploads/public/195/589/479/thumb__544_0_0_0_auto.png&quot;);"></div>                                                                            </div>
                                    <div class="p-4 flex-3 flex flex-col justify-between">
                                        <div class="mb-3">
                                            <div class="text-sm mb-3 &lt;md:font-medium">Большой ассортимент новогодних товаров в рассрочку</div>
                                                                                        <div class="text-lg font-bold content-inner-editer">
                                                

                                            </div>
                                                                                    </div>
                                                                                <div>
                                            <a href="https://halykmarket.kz/promotion/19051" class="btn btn-green-light">
                                                                                                Купить на Market
                                                                                            </a>
                                        </div>
                                                                            </div>
                                </div>
                            </div>
                        </div>
                                            </div>
                </div>
                <div class="embla__dots flex items-center justify-center" x-show="emblaActive" style="display: none;">
                                        <button class="embla__dot focus:outline-none w-2 h-2 bg-gray-100 rounded-full mr-4 !bg-primary" :class="{&#39;!bg-primary&#39;: active == 0}" type="button" @click.prevent="embla.scrollTo(0)">
                    </button>
                                        <button class="embla__dot focus:outline-none w-2 h-2 bg-gray-100 rounded-full mr-4" :class="{&#39;!bg-primary&#39;: active == 1}" type="button" @click.prevent="embla.scrollTo(1)">
                    </button>
                                        <button class="embla__dot focus:outline-none w-2 h-2 bg-gray-100 rounded-full mr-4" :class="{&#39;!bg-primary&#39;: active == 2}" type="button" @click.prevent="embla.scrollTo(2)">
                    </button>
                                        <button class="embla__dot focus:outline-none w-2 h-2 bg-gray-100 rounded-full mr-4" :class="{&#39;!bg-primary&#39;: active == 3}" type="button" @click.prevent="embla.scrollTo(3)">
                    </button>
                                    </div>
                                            </div>
        </div>
    </div>
</section>        </main>
        <!-- end .content -->
    </div>
   </div>
</html>